body {
    font-family: 'Poppins', sans-serif;
}

.gradient-color img {
    filter: brightness(0.5);
    height: 500px;
}

.background-color {
    background: #acc6cb1f;
}

.custom-width {
    margin-left: -12px;
}

.star-color {
    color: gold;
}

.coma-width {
    width: 50px;
}

.positon-change {
    position: relative;
}

.logo-img-width {
    width: 130px;
}